<div class="container">

  <div class="wrap-messages">
    <h1>Messages</h1>

    <%= render 'message' %>

    <%= simple_form_for(@message, remote: true) do |f| %>
      <%= f.input :message %>
      <%= f.input :conversation_id, :as => :hidden, :input_html => { value: @conversation.id } %>
      <%= f.input :user_id, :as => :hidden, :input_html => { value: current_user.id } %>
      <%= f.submit %>
    <% end %>
  </div>

</div>
