<div class="container">

  <h1>Messages</h1>

  <% @conversation.messages.each do |message| %>
    <% if message.user = current_user %>
      <div class="conversation-message">
        <div class="row">
          <div class="col-xs-12 col-sm-3">


        <% if !current_user.facebook_picture_url.nil? %>

            <% avatar_url = current_user.facebook_picture_url %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <% elsif current_user.photo.nil? %>
            <%= image_tag "http://placehold.it/50x50", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <% else %>
             <%= cl_image_tag current_user.photo.path, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>


          </div>
          <div class="col-xs-12 col-sm-9">
            <%= render partial: 'message', locals: { message: message } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= simple_form_for @message do |f| %>
    <%= f.input :message %>
    <%= f.input :conversation_id, :as => :hidden, :input_html => { value: @conversation.id } %>
    <%= f.input :user_id, :as => :hidden, :input_html => { value: current_user.id } %>
    <%= f.submit %>
  <% end %>


</div>
