<div class="col-sm-6">

<%= simple_form_for(@facility) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :equipments_description %>
    <%= f.input :producing_capability %>
    <%= f.input :address, collection: @states %>
  </div>
</div>
<div class="col-sm-6">
  <div class="form-inputs">
    <%= f.input :photos, as: :attachinary %>
  </div>
  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
</div>
<% end %>
