<%= simple_form_for(@facility) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :equipments_description %>
    <%= f.input :producing_capability %>
    <%= f.input :address, collection: @states %>
    <%= f.input :photos, as: :attachinary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
