
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="text-center">
    <h1 class="search-title"><b>FIND THE PERFECT BREWERY</b></h1>
    <form method="get" action="<%= search_facilities_path %>" class="form-inline">
      <input type="text" class="form-control input-md" name="address" placeholder="Onde você está?">
      <input type="submit" class="btn btn-danger btn-md" value="Search">
    </form>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <% @facilities.each do |f| %>
        <div class="col-xs-12 col-md-6 card-padding-botton">
          <%= render "/shared/card",facility: f %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <div id="map" style="width: 100%; height: 600px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
</div>
