

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
      <div class="media">
        <div class="media-body">
          <div class="media-section">
            <h1>
              <strong>Name:</strong>
              <%= @facility.name %>
            </h1>
            <% @facility.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
            <% end %>
            <h2>Description</h2>
            <p><%= @facility.description %></p>
          </div>
          <div class="media-section">
            <h2>Equipments Description:</h2>
            <p><%= @facility.equipments_description %></p>
            <%= render partial: 'shared/calendar' %>
          </div>
        </div>
        <div class="media-aside">
          <div class="media-section">
            <h2>Capacity</h2>
            <p><%= @facility.producing_capability %> bottles/day</p>
          </div>
          <div class="media-section">
            <h2>Address:</h2>
            <p><%= @facility.address %></p>
          </div>
          <% if @facility.user == current_user %>
            <div class="media-section text-center">
              <%= link_to 'Edit', edit_facility_path(@facility), class: "btn btn-primary" %>
              <%= link_to 'Back', facilities_path, class: "btn btn-primary" %>
              <%= link_to 'Delete', facility_path(@facility), method: 'delete', class: "btn btn-danger" %>
          <% else %>
              <!-- <input type="text" class="daterange"/> -->
          <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :js_calendar do %>
  <script>

  var booked_dates = <%= raw @booked_dates %>

    $(document).ready(function() {
      $('.daterange').daterangepicker({
          autoUpdateInput: false,
          locale: {
              cancelLabel: 'Clear'
          },

          "isInvalidDate" : function(date){
            for(var ii = 0; ii < booked_dates.length; ii++){
              if (date.format('YYYY-MM-DD') == booked_dates[ii]){
                return true;
              }
            }
          }

      });

      $('.daterange').on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
      });

      $('.daterange').on('apply.daterangepicker', function(ev, picker){
        $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        $('#booking_start_date').val(picker.startDate.format('DD-MM-YYYY'));
        $('#booking_end_date').val(picker.endDate.format('DD-MM-YYYY'));
      })

    });
  </script>
<% end %>
