<div class="facility-wrapper container">
  <div class="text-center title-paddin-bottom">
    <h2 class="title"><b><%= @facility.name.upcase %></b></h2>
  </div>
      <div class="row">
        <div class="preview col-xs-12 col-md-6">

          <div class="preview-pic tab-content">
            <% i = 1 %>
            <% @facility.photos.each do |photo| %>
              <% i == 1 ? active =  'tab-pane active' : active = 'tab-pane' %>
              <% pic = "pic-#{i.to_s}" %>
                <div class="<%= active %>" id="<%= pic %>"><%= cl_image_tag photo.path, height:300, width:400, :background=>"black", :crop=>"lpad" %></div>
            <% i += 1 %>
            <% end %>
          </div>

          <ul class="preview-thumbnail nav nav-tabs">
            <% i = 1 %>
            <% @facility.photos.each do |photo| %>
              <% pic = "#pic-#{i.to_s}" %>
              <li><a data-target="<%= pic %>" data-toggle="tab"><%= cl_image_tag photo.path, :background=>"black", :crop=>"lpad" %></a></li>
            <% i += 1 %>
            <% end %>
          </ul>

        </div>

        <div class="details col-xs-12 col-md-6">
          <!-- div para rating e reviews -->
<!--               <div class="stars">
          <div class="rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div> -->

          <p class="product-description"><%= @facility.description %></p>
          <h4 class="capacity">Capacidade: <span><%= @facility.producing_capability %> bottles/day</span></h4>
          <h4 class="eq-description">Equipaments Description:</h4>
            <p><%= @facility.equipments_description %></p>

          <div class="action">
            <!-- Booking if signed in -->
            <% if user_signed_in? %>
            <%= link_to "Send a message", new_facility_conversation_path(@facility.id), class: "btn btn-primary" %>
            <%= render partial: 'shared/calendar', locals: {booking: @booking, booked_dates: @booked_dates } %>
            <% end %>
          </div>
          <% if @facility.user == current_user %>
            <div class="media-section text-center">
              <%= link_to 'Edit', edit_facility_path(@facility), class: "btn btn-primary" %>
              <%= link_to 'Back', facilities_path, class: "btn btn-primary" %>
              <%= link_to 'Delete', facility_path(@facility), method: 'delete', class: "btn btn-danger" %>
          <% else %>
              <!-- <input type="text" class="daterange"/> -->
            </div>
          <% end %>

        </div>
      </div>
  </div>
</div>
