

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
      <div class="media">
        <div class="media-body">
          <div class="media-section">
            <h1>
              <strong>Name:</strong>
              <%= @facility.name %>
            </h1>
            <% @facility.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
            <% end %>
            <h2>Description</h2>
            <p><%= @facility.description %></p>
          </div>
          <div class="media-section">
            <h2>Equipments Description:</h2>
            <p><%= @facility.equipments_description %></p>
          </div>
        </div>
        <div class="media-aside">
          <div class="media-section">
            <h2>Capacity</h2>
            <p><%= @facility.producing_capability %></p>
          </div>
          <div class="media-section">
            <h2>Address:</h2>
            <p><%= @facility.address %></p>
          </div>
          <% if @facility.user = current_user %>
            <div class="media-section text-center">
              <%= link_to 'Edit', edit_facility_path(@facility), class: "btn btn-primary" %>
              <%= link_to 'Back', facilities_path, class: "btn btn-primary" %>
              <%= link_to 'Delete', facility_path(@facility), method: 'delete', class: "btn btn-danger" %>
          <% else %>
              <%= link_to 'Rent', root_path, class: "btn btn-success" %>
          <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

