<%= render 'layouts/banner' %>
    <div class="container text-center padded">
      <div class="row">
        <div class="col-xs-12 col-sm-4 features">
          <%= image_tag "mestre.png", class: "home-features" %>
          <h4>Seja um mestre cervejeiro</h4>
          <p>Produza como um pro, aprenda com os melhores</p>
        </div>
        <div class="col-xs-12 col-sm-4 features">
          <%= image_tag "sua.png", class: "home-features"  %>
          <h4>Uma cerveja para chamar de sua</h4>
          <p>Desenvolva sua receita, sua marca, seu rótulo</p>
        </div>
        <div class="col-xs-12 col-sm-4 features">
          <%= image_tag "rico.png", class: "home-features"  %>
          <h4>Ganhe dinheiro</h4>
          <p>Monte um e-commerce e lucre com suas vendas</p>
        </div>
      </div>
    </div>
    <div class="home-wrapper-grey">
      <div class="container">
        <h3 class="text-center">Algumas cervejarias incríveis para produzir sua cerveja...</h3>
        <br>
        <div class="row">
          <% @facilities.each do |f| %>
            <div class="col-xs-12 col-sm-4 card-padding-botton">
              <%= render "/shared/card",facility: f %>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="text-center padded" id="newsletter">
      <h2>Quer aprender mais sobre cervejas?</h2>
      <p>Cadastre seu email e recebe nosso conteúdo exclusivo em seu email</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Cadastrar" class="btn btn-danger">
      </form>
    </div>

<!--     <div id="map" style="width: 100%;height: 500px;"></div>
 -->
<%= render 'layouts/footer' %>


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.852937,2.364178);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"You are here!"
    });
    </script>
  </body>
</html>

