<%= render 'layouts/banner' %>
    <div class="container text-center padded">
      <div class="row">
        <div class="col-xs-12 col-sm-4 features">
          <%= image_tag "mestre.png", class: "home-features" %>
          <br>
          <br>
          <h4><b>Seja um mestre cervejeiro</b></h4>
          <p>Produza como um pro, aprenda com os melhores</p>
        </div>
        <div class="col-xs-12 col-sm-4 features">
          <%= image_tag "sua.png", class: "home-features"  %>
          <br>
          <br>
          <h4><b>Uma cerveja para chamar de sua</b></h4>
          <p>Desenvolva sua receita, sua marca, seu rótulo</p>
        </div>
        <div class="col-xs-12 col-sm-4 features">
          <%= image_tag "rico.png", class: "home-features"  %>
          <br>
          <br>
          <h4><b>Ganhe dinheiro</b></h4>
          <p>Monte um e-commerce e lucre com suas vendas</p>
        </div>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="container">
        <h2 class="text-center"><b>Algumas cervejarias incríveis para produzir sua cerveja...</b></h2>
        <br>
        <div class="row">
          <% @facilities.each do |f| %>
            <div class="col-xs-12 col-sm-4 card-padding-botton">
              <%= render "/shared/card",facility: f %>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="text-center padded" id="newsletter">
      <h2>Quer aprender mais sobre cervejas?</h2>
      <p>Cadastre seu email e recebe nosso conteúdo exclusivo em seu email</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Cadastrar" class="btn btn-danger">
      </form>
    </div>

  <% content_for(:after_js) do %>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#landing-hide').hide();
    });
    </script>
  <% end %>
